

  .estiloCrearEstudiante{
    
background-color: #e2b9e9;
border: solid;
box-shadow: 0 2px 5px 0 #741884;
padding: 30px;

}

.selectCursos{
  background-color: white;
  
}

.estiloFormLabel{
  padding: 15px;
}

.estiloFormLabel2 {
  padding: 10px;
}