

  .estiloEstudiante{
    
    background-color: rgb(211, 211, 211);
    border: solid;
    border-radius: 5px;
    margin: 16px;
    padding: 16px; 
    margin-left: 450px; 
    margin-right: 450px; 
    box-shadow: 0 2px 5px 0 #ccc;

}
